.animeDetailsMain{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  min-height: calc(100vh - 150px);
  background-color: #263743;
}

.animeDetailsMain .animeDetailsContainer {
  box-sizing: border-box;
  display: grid;
  padding: 1rem;
  width: 60%;
  border-radius: 1rem;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "image title_and_genres"
    "image descriptionSection";
  justify-content: center;
  height: auto;
  max-height: 100%;
}

.animeDetailsContainer section{
  box-sizing: border-box;
  background-color: #324857;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image Section */
.animeDetailsContainer .animeImage{
  grid-area: image;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Title and Genres Section */
.animeDetailsContainer .title_and_genres{
  flex-direction: column;
  height: fit-content;
  grid-area: title_and_genres;
} 

.title_and_genres .title{
  font-size: 2rem;
  color: #E77023;
  font-family: 'Nura', sans-serif;
  margin: 0.5rem 0;
}
.title_and_genres .genres{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.title_and_genres .genre{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  color: #F0F1F1;
  background-color: #456478;
  border-radius: 0.5rem;
}

/* Description Section */
.animeDetailsContainer .descriptionSection{
  grid-area: descriptionSection;
}

.descriptionSection .descriptionTitle{
  font-size: 1.5rem;
  color: #F0F1F1;
  font-family: 'Montserrat', sans-serif;
  margin: 0.5rem 0;
}

.descriptionSection .description{
  font-size: 1rem;
  color: #CFD0D2;
  font-family: 'Montserrat', sans-serif;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 900px) {
  .animeDetailsMain{
    height: auto;
    min-height: auto;
  }
  
  .animeDetailsMain .animeDetailsContainer {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title_and_genres"
      "image"
      "descriptionSection";
  }

  .animeDetailsContainer .animeImage {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .animeDetailsContainer .title_and_genres,
  .animeDetailsContainer .descriptionSection {
    width: 100%;
  }
}

/* @media (max-width: 600px) {
  .animeDetailsMain {
    padding: 5px;
  }

  .animeDetailsMain .animeDetailsContainer {
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
  }

  .animeDetailsContainer .animeImage {
    height: 12rem;
  }

  .title_and_genres .title {
    font-size: 1.3rem;
  }

  .descriptionSection .descriptionTitle {
    font-size: 1.1rem;
  }
} */