.mainPage {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #263743;
  flex: 1;
  height: calc(100%);
}

.filterContainer{
  width: 30vh;
  background-color: #456478;
  border-radius: 20px;
  margin: 10px;
  flex-shrink: 0;
  display: flex;
}

.mainPageContainer{
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: #1F2021 rgba(255, 166, 0, 0);
  position: relative;
  z-index: 0;
  padding: 10px;
  flex: 1;
  min-width: 0;
}


.loading{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'inter', sans-serif;
  color: #CFD0D2;
}
.error{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'inter', sans-serif;
  color: #FB8282;
}